$bgPrinc : #f0f0f0;
$black : #0d232c;
$white : #fff;
$gray : #ccc;


$osColor : #954396;
$y1: #fff383ff;
// $y2: #f4da63ff;
$y2: #8bc540;
// $y3: #fdd04fff;
$y3: #8bc540;
$o1: #ff7e3bff;
$b1: #95491aff;
$yellow-crayola: #fff383ff;
$naples-yellow: #f4da63ff;
$sunglow: #fdd04fff;
$mango-tango: #ff7e3bff;
$saddle-brown: #95491aff;
$bgSlider : #8bc540;
$shadow : #444;
$btnBg : #fff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-right: linear-gradient(90deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-bottom: linear-gradient(180deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-left: linear-gradient(270deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-top-right: linear-gradient(45deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-bottom-right: linear-gradient(135deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-top-left: linear-gradient(225deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-bottom-left: linear-gradient(315deg, #fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);
$gradient-radial: radial-gradient(#fff383ff, #f4da63ff, #fdd04fff, #ff7e3bff, #95491aff);

$breakpoint-tablet: 768px;

