@import 'colors.scss';


.container{
    margin: 40px auto;
    width: 90%;
    max-width: 600px;
    h2{
        margin-bottom: 30px;
    }

    .list-Song-edit{
    
        padding: 5px 10px 10px 10px;
        border-radius: 20px;
        background-color: $y2;
        box-sizing: border-box;
    
        .list-item-edit{ 
                .item{
                    color: $black;
                    width: 100%;
                    min-height: 60px;
                    margin: 0 auto 15px auto;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                    .song-info{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        gap: 10px;
                        img{
                            border-radius: 3px;
                        }
                        p{
                            text-align: left;
                        }
                    }
                    .cmd{
                        display: flex;
                        gap: 5px;
                        button:last-child:hover{
                            background-color: #d00000;
                        }
                    }
                }
        }
        .cmd-princ{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
            .btn-cmd{
                padding: 5px 10px;
                width: 30%;
            }
        }
    }
}