@import 'colors';

#nav-princ{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .btn-menu{
        position: absolute;
        top: 0;
        left: -40px;
        padding: 10px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;

        .line{
            background-color: $black;
            height: 2px;
            width: 90%;
        }
        
        &.show{
            background-color: $o1;
            border-radius: 0 0 0 2px;
            border-right: #aaa 1px solid;
            .line{
                position: absolute;
                top: 20px;
                left: 15%;
                width: 70%;
                &:first-child{
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
                
            }
        }
    }


    .slider{
        background-color: $bgSlider;
        min-width: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        transition: all 500ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        *{
            display: none;
        }
        
        li{
            height: 40px;
            margin: 0 0 10px 0;
            &:hover{
                background-color: $black;
                color: $white;
            }
            a{
                box-sizing: border-box;
                color: #fff;
                text-transform: uppercase;
                font-size: large;
                display: inline;
                height: 100%;
                width: 100%;
                padding: 9px 0 9px 20px;
            }
        }
        &.show{
            min-width: 250px;
            width: 30vw;
            box-shadow: 1px 0px 4px 0px $shadow;
            *{
                display: inline-block;
            }
            ul{
                display: flex;
                flex-direction: column;
            }

        }
        
    }
    #list{
        border-top: #ddd 1px solid;
        padding: 10px 0;
        #list-btn{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px 0;
            button{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
        #list-link{
            display: none;
            margin: 10px;
            &.show{
                display: flex;
                justify-content: space-between;
            }

            *{
                height: 30px;
                box-sizing: border-box;
                outline: none;
                border: none;
            }
            input{
                width: 100%;
                border-radius: 5px 0 0 5px;
                padding: 5px;
            }
            button{
                border-radius: 0 5px 5px 0;
                padding: 7px 14px;
                width: 60px;
                height: 30px;
                align-items: center;
                
            }
        }
        #list-item{
            max-height: 35vh;
            min-height: 5vh;
            overflow: auto;
            margin-top: 10px;
            width: 100%;
            a{
                color: $black;
                padding: 5px 5px 5px 10px;
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: left;
                    align-items: center;
                    gap: 5px;
                    img{
                        border-radius: 3px;
                    }
                }
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}