@import 'colors';

.container{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    .overlay{
        background-color: $y2;
        padding: 20px;
        border-radius: 10px;
        min-height: 70vh;

        h2{
            padding: 0 0 0 10px;
        }
        p{
            margin: 10px 0 10px 0;
        }
        .video{
            margin: 40px auto 20px auto;
            width: 90%;
            height: 60vh;
            background-color: #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            *{
                text-align: center;
                color: #888;
            }
        }
    }
}
.search-genuis{
    margin-top: 40vh;
    margin-bottom: 20vh;
    .table{
        box-sizing: border-box;
        margin: -10px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 80%;
        max-width: 800px;
        padding: 0 20px;
        a{
            background-color: $y3;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 7px 10px;
            border-radius: 0 0 5px 5px;
            max-width: 300px;
            width: 40%;
            &:hover{
                color: $white;
                background-color: $black;
            }
        }
    }
    @media (max-width: $breakpoint-tablet) {
        .table{
            display: none;
        }
    }
    #list-item-home{
        width: 80vw;
        margin: 30px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 800px;
        a div{
            color: $black;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
            &:hover{
                color: $white;
            }
        }
    }
}
.title-princ{
    position: absolute;
    top: 20px;
    left: 5%;
    h1{
        text-transform: capitalize;
    }
}