@import 'colors';

#search-ask{
    div{
        input{
            border: 2px solid $osColor !important;
        }
        a{
            .corss{
                background-color: $osColor !important;
            }
        }
    }
}


.container{
    width: 80%;
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .download{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        .down{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .btn{
                padding: 10px 20px;
                box-sizing: border-box;
            }
        }
    }
}