// Suppression des éléments par défaut
@import 'colors';


*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    background: url('/assets/image/bg-princ.jpg') $bgPrinc ;
}
main{
    min-height: 100vh;
}
button, .btn{
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: $black;
    background-color: $btnBg;
    &:hover{
        color: $white;
        background-color: $black;
    }
    &:disabled{
        cursor: not-allowed;
        opacity: 0.5;
        color: $black;
        background-color: $btnBg;
    }
    
}
.rg_embed{
    width: 100%;
    background-color: $bgPrinc !important;
    display: flex !important;
    flex-direction: column-reverse !important;
}
.rg_embed_body p{
    text-align: center;
    font-size: 3vw;
    a{
        background-color: transparent !important;
    }
}
.rg_embed_logo{
    z-index: 1;
}
.rg_embed_footer a{
    color: $black;
    z-index: 1;
}


.list-Song{
    margin: 10px auto 20px auto;
    width: 80%;
    max-width: 800px;


    .list-item{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 5px;
        a{
            color: $black;
            background-color: $white;
            padding: 10px;
            border-radius: 15px;
            div{
                display: flex;
                align-items: center;
                justify-content: left;
                flex-direction: row-reverse;
                gap: 10px;
                img{
                    border-radius: 5px;
                }
            }
            &:hover{
                color: $white;
                background: $black;
            }
        }
    }
}