/* SCSS Gradient */
#nav-princ {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#nav-princ .btn-menu {
  position: absolute;
  top: 0;
  left: -40px;
  padding: 10px;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-princ .btn-menu .line {
  background-color: #000;
  height: 2px;
  width: 90%;
}

#nav-princ .btn-menu.show {
  background-color: #ff7e3bff;
  border-radius: 0 0 0 2px;
  border-right: #aaa 1px solid;
}

#nav-princ .btn-menu.show .line {
  position: absolute;
  top: 20px;
  left: 15%;
  width: 70%;
}

#nav-princ .btn-menu.show .line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-princ .btn-menu.show .line:nth-child(2) {
  display: none;
}

#nav-princ .btn-menu.show .line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#nav-princ .slider {
  background-color: #FDD04F;
  min-width: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-princ .slider * {
  display: none;
}

#nav-princ .slider li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 9px 0 9px 20px;
  height: 40px;
}

#nav-princ .slider li:hover {
  background-color: #000;
  color: #fff;
}

#nav-princ .slider li a {
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  display: inline;
}

#nav-princ .slider.show {
  min-width: 250px;
  width: 30vw;
  -webkit-box-shadow: 1px 0px 4px 0px #444;
          box-shadow: 1px 0px 4px 0px #444;
}

#nav-princ .slider.show * {
  display: inline-block;
}

#nav-princ .slider.show ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-princ #list {
  border-top: #ddd 1px solid;
  padding: 10px 0;
}

#nav-princ #list button:hover {
  background-color: #000;
}

#nav-princ #list button:hover i {
  color: #fff;
}

#nav-princ #list #list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

#nav-princ #list #list-btn button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
}

#nav-princ #list #list-link {
  display: none;
  margin: 10px;
}

#nav-princ #list #list-link.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-princ #list #list-link * {
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

#nav-princ #list #list-link input {
  width: 100%;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

#nav-princ #list #list-link button {
  border-radius: 0 5px 5px 0;
  padding: 7px 14px;
  width: 60px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-princ #list #list-item {
  max-height: 35vh;
  min-height: 5vh;
  overflow: auto;
  margin-top: 10px;
  width: 100%;
}

#nav-princ #list #list-item a {
  color: #000;
  padding: 5px 5px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-princ #list #list-item a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

#nav-princ #list #list-item a div img {
  border-radius: 3px;
}

#nav-princ #list #list-item a:hover {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=header.css.map */